{% extends 'index.html' %}

{% block title %}User Management Page{% endblock %}

{% block content %}
<div class="max-w-8xl mx-auto px-4 py-1">
    <h1 class="text-3xl font-semibold mb-6 text-center text-gray-800">User Management</h1>

    <div class="fixed right-4" id="exportBtn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
            class="size-9 cursor-pointer text-blue-500 hover:text-blue-700 transition">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
        </svg>          
    </div>

    <div id="exportForm" class="hidden fixed right-4 p-4 border rounded-lg bg-white w-80 shadow-md">
        <div class="flex justify-between items-center">
            <h2 class="text-lg font-semibold">Export Data</h2>
            <button id="closeForm" class="text-red-500 hover:text-red-700">✖</button>
        </div>
        
        <label class="block text-sm font-medium text-gray-700 mt-2">Start Date</label>
        <input type="date" id="startDate" class="w-full p-2 border rounded-md mb-2">

        <label class="block text-sm font-medium text-gray-700">End Date</label>
        <input type="date" id="endDate" class="w-full p-2 border rounded-md mb-2">

        <button id="exportDataBtn" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 w-full mt-2">
            Export
        </button>
    </div>

    <div class="fixed right-20" id="importBtn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9 cursor-pointer text-blue-500 hover:text-blue-700 transition">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
        </svg>
    </div>
    
    <form method="get" class="bg-white shadow-md rounded-lg p-6 max-w-lg ml-3 mb-4">
        <div class="grid grid-cols-2 gap-4">
            {% for field in filterset.form %}
                <div>
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
    
        <!-- Filter Button -->
        <div class="mt-4 text-center">
            <button type="submit" class="bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-500">
                Filter
            </button>
        </div>
    </form>
    
    <div class="max-w-4xl mx-auto hidden mb-6" id="updateUserForm">
        <h2 class="text-1xl font-semibold mb-4 text-gray-800">Update User</h2>
        <form id="updateForm" method="POST" class="space-y-6 bg-white p-6 rounded-lg shadow-md">
            {% csrf_token %}
            <input type="hidden" id="updateUserId" name="user_id">
            <div class="mb-4">
                <label for="updateUsername" class="block text-sm font-medium text-gray-700 my-2">Username</label>
                <input type="text" id="updateUsername" name="username" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-500" required>
            </div>
            <div class="mb-4">
                <label for="updateDepartment" class="block text-sm font-medium text-gray-700 my-2">Department</label>
                <input type="text" id="updateDepartment" name="department" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-500" required>
            </div>
            <div class="flex space-x-4">
                <button type="submit" class="bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-600 transition">Update User</button>
                <button type="button" onclick="hideUpdateForm()" class="bg-gray-500 text-white py-2 px-6 rounded-md hover:bg-gray-600 transition">Cancel</button>
            </div>
        </form>
    </div>

    <button class="bg-green-500 text-white py-2 px-6 rounded-md mb-6 hover:bg-green-600 transition" onclick="toggleForm()">Create New User</button>

    <!-- Create User Form -->
    <div id="userForm" class="mb-6 hidden bg-white p-6 rounded-lg shadow-md max-w-4xl mx-auto">
        <form method="POST" action="{% url 'create_user' %}" class="space-y-6">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700 my-2">Username</label>
                <input type="text" id="username" name="username" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-500" required>
            </div>
            <div class="mb-4">
                <label for="department" class="block text-sm font-medium text-gray-700 my-2">Department</label>
                <input type="text" id="department" name="department" class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-500" required>
            </div>
            <button type="submit" class="bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-600 transition">Create User</button>
        </form>
    </div>
    <!-- User Table -->
    <div class="overflow-x-auto bg-white shadow-md rounded-lg my-4">
        <table class="min-w-full table-auto border-collapse">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Username</th>
                    <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Department</th>
                    <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Created At</th>
                    <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Updated At</th>
                    <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="border-b hover:bg-gray-50">
                    <td class="px-4 py-2 text-sm text-gray-800">{{ user.username }}</td>
                    <td class="px-4 py-2 text-sm text-gray-800">{{ user.department }}</td>
                    <td class="px-4 py-2 text-sm text-gray-800">{{ user.created_at }}</td>
                    <td class="px-4 py-2 text-sm text-gray-800">{{ user.updated_at }}</td>
                    <td class="px-4 py-2 text-sm text-gray-800 flex space-x-4">
                        <button onclick="showUpdateForm({{ user.user_id }}, '{{ user.username }}', '{{ user.department }}')" class="bg-yellow-500 text-white py-1 px-4 rounded-md hover:bg-yellow-600 transition">Update</button>
                        <form method="POST" action="{% url 'remove_user' user.user_id %}" style="display:inline;" onsubmit="return confirmDelete()">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 text-white py-1 px-4 rounded-md hover:bg-red-600 transition">Remove</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="px-4 py-2 text-sm text-gray-800">No users found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function toggleForm() {
        const form = document.getElementById('userForm');
        form.classList.toggle('hidden');
    }

    function showUpdateForm(userId, username, department) {
        const form = document.getElementById('updateUserForm');
        document.getElementById('updateUserId').value = userId;
        document.getElementById('updateUsername').value = username;
        document.getElementById('updateDepartment').value = department;
        
        const formAction = "{% url 'update_user' 0 %}".replace("0", userId);
        document.getElementById('updateForm').action = formAction;
        
        form.classList.remove('hidden');
    }

    function hideUpdateForm() {
        document.getElementById('updateUserForm').classList.add('hidden');
    }

    function confirmDelete() {
        return confirm("Are you sure you want to delete this user?");
    }

    document.addEventListener("DOMContentLoaded", () => {
        const exportBtn = document.getElementById("exportBtn");
        const exportForm = document.getElementById("exportForm");
        const exportDataBtn = document.getElementById("exportDataBtn");
        const closeForm = document.getElementById("closeForm");
    
        exportBtn.addEventListener("click", () => {
            exportForm.classList.toggle("hidden");
        });
    
        closeForm.addEventListener("click", () => {
            exportForm.classList.add("hidden");
        });
    
        exportDataBtn.addEventListener("click", () => {
            const startDate = document.getElementById("startDate").value;
            const endDate = document.getElementById("endDate").value;
    
            if (!startDate || !endDate) {
                alert("Please select both start and end dates.");
                return;
            }
    
            window.location.href = `/user-exports?start=${startDate}&end=${endDate}`;
        });
    });

    const importBtn = document.getElementById("importBtn");

    importBtn.addEventListener("click", () => {
        window.location.href = "/user-imports/";
    });

</script>

{% endblock %}
